
.gradient-075 {
    position: absolute;
    z-index: -1;
    width: 404px;
    height: 500px;
  left: 70%;
  bottom: 30%;  
    background: rgba(25, 74, 139, 0.35);
    filter: blur(175px);
    transform: rotate(-114.2deg);
  }

  .discover-item:hover{
    color: black !important;
    background-color: white;
  }