.popular{
    position: relative;
.discover{
    width: 1440px;
    margin-left: auto;
    margin-right: auto; 
    
    display: flex;
    min-height: 100vh;
    
    
      .gradient-06 {
        position: absolute;
        z-index: -1;
        width: 1004px;
        height: 500px;
     left: 0%;
     bottom: 10%;  
     background: rgba(65, 32, 109, 0.35);
        filter: blur(175px);
        transform: rotate(-114.2deg);
      }


      .discover-title{
        width: 20%;
        
        display: flex;
        align-items: center;
        padding: 5px;
        flex-direction: column; 

        .discover-item-container{
          display: flex;
          flex-direction: column;
            margin-top: 50px;
            gap: 20px;
        .discover-item{
            width: 200px;
            border: 1px solid white;
            height: 50px;
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: pointer;
            font-family: 'Heavitas',sans-serif;
            border-radius: 10px;
 
        }
        .discover-item:hover{
          color: black;
          background-color: white;
        }
      }
      .line{
        display: flex;
        margin-top: 20px;
        width: 100px;
        background-color: rgb(138, 125, 125);
        height: 2px;  
        
        border-radius: 5px;
      }
        .discover-sort{
          display: flex;
          margin-top: 20px;
          
          width: 200px;

          select{
            width: 200px;
            height: 30px;
            border-radius: 10px;
            outline: none;
          }
        }
      }

      .card-container{
        width: 80%;
        flex: 2;
       
        display: flex;
        padding: 10px;

      }
     

}}

.gradient-073 {
  position: absolute;
  z-index: -1;
  width: 1004px;
  height: 500px;
left: 70%;
bottom: 0%;  
  background: rgba(25, 74, 139, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}