.details{
    width: 1440px;
 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
    display: flex;
    flex-direction: column;
    .details-up{
        display: flex;
        height: 800px;
        position: relative;
        gap: 20px;
        .details-left{
            display: flex;
            flex-direction: column;
            gap: 20px;
           
            height: 1000px;
        .details-name{
            width: 900px;
            
            font-size: 30px;
            font-family: 'Heavitas',sans-serif;
            display: flex;
            align-items: center;
            gap: 10px;
            .year{
                font-size: 20px;

            }
        }

        .details-img{
            position: absolute;
            top: 10px;
            width: 900px;
            overflow: hidden;
            
            img{
                width: 900px;
                height: 600px;
                object-fit: contain;
               
                

            }
        }

        .other-images{
            position: absolute;
            bottom: 0px;
           height: 200px;
            display: flex;
            overflow: hidden;
            gap: 10px;
            
           img{
            width: 217px;
            height: 150px;
            cursor: pointer;
            border-radius: 10px;
            
           }
        }
    }

    .details-right{
        display: flex;
        flex-direction: column;
        max-height: 755px;
        overflow-y: auto;
        padding: 10px;
        scrollbar-width: thin; 
        scrollbar-color:white; 
        .text-container{
            font-family: 'Helvetica',sans-serif;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
           
        .description-text{
            max-height: 200px; // Maximum height for the description
            overflow: hidden;
            transition: max-height 0.3s ease; // Smooth transition when expanding/collapsing
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 2px;
           
            
        }
        .expanded {
            max-height: none !important; // Remove max-height when expanded
          }

          .see-more-button {
                
            
        
          }
        }

        .button-container{
            width: 100%;
            border: 1px solid white;
            height: 40px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
           
           span{
            cursor: pointer;
            font-size: 20px;
            font-family: 'Helvetica',sans-serif;
           }
          
        }
        .button-container:hover{
            background-color: rgb(65, 64, 64);
           }
      
        .details-genre{
            font-size: 20px;
            font-family: 'Helvetica',sans-serif;
            margin-top: 50px;
            display: flex;
            gap: 100px;

            .metascore{
                color: rgb(67, 226, 67);
            }
        }
        .add-to-cart{
            width: 100%;
            
            margin-top: 50px;
            gap: 20px;
            display: flex;
           
            font-family: 'Helvetica',sans-serif;
            align-items: center;
            justify-content: center;
            .buy{
                width: 250px;
                border: 1px solid white;
                padding: 5px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                display: flex;
                height: 40px;
                cursor: pointer;
            }
            .wishlist{
                width: 250px;
                border: 1px solid white;
                padding: 5px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                display: flex;
                cursor: pointer;
                height: 40px;
            }
            .buy:hover{
                background-color: rgb(53, 51, 51);
            }
            .wishlist:hover{
                background-color: rgb(65, 63, 63);
            }
        }
        
    }
    
}
.details-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 20px;
    .recommended{
      
        h3{
            font-size: 30px;
            font-family: 'Heavitas',sans-serif;
        }
    }
    .recommended-card{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
       
        height: 600px;
     

      .reco-card{
        box-shadow: 0px 0px 2px 0px white;
        border-radius: 10px;
        position: relative;
        width: 268px;
            height: 400px;

        img{
            width: 268px;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;
        }
        .reco-card:hover{
            box-shadow: 0px 0px 5px 0px white;
        }
        .reco-name{
            position: absolute;
            bottom: 10px;
            left: 20px;
            font-size: 20px;
            font-family: 'Helvetica',sans-serif;
            opacity: 0; /* Hide by default */
            transition: opacity 0.3s ease-in-out;
            
        }
       
    }
    .reco-card:hover .reco-name {
        opacity: 1; /* Show on hover */
      }
    }
    .reco-card:hover img{
        opacity: 0.7;
    }
}
}
.gradient-05 {
    position: absolute;
    z-index: -1;
    width: 1004px;
    height: 500px;
 left: 30%;
 bottom: 0%;  
    background: rgba(25, 74, 139, 0.35);
    filter: blur(175px);
    transform: rotate(-114.2deg);
  }

  .image-transition {
    transition: opacity 1s ease; /* Apply a smooth opacity transition */
    max-width: 100%;
    max-height: 100%;
  }

@media screen and (max-width:600px) {
    .details-up{
        display: flex;
        flex-direction: column;
       
    }

    .details-left{
        width: 100px;
      
       
    }
    .details-img-1{
        
    }
}